<html lang="en">
<head>
    {{!-- stylesheet link, title --}}
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Tomorrow:ital@0;1&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>ChaosConverter</title>

</head>
<header>
    <img id="logo" src="/images/bocLogo.png">
</header>
<body>

    <div class="container">
        {{{body}}}
    </div>

</form>

</body>

<h1>-.-</h1>

    {{!-- scripts --}}
{{!-- <script>

    const convertedQuantity = document.getElementById('convertedQuantity')
    const convertedType = document.getElementById('convertedType')   
    function runConverter () {
        convertedQuantity = Math.floor(Math.random()*10)
}
           
</script> --}}
