<html lang="en">
<head>
    {{!-- stylesheet link, title --}}
    <link rel="stylesheet" href="/main.css">
    <meta charset="utf-8">
    <title>ChaosConverter</title>

</head>

<body>

    <div class="container">
        {{{body}}}
    </div>

</form>

</body>

<h1>-.-</h1>

    {{!-- scripts --}}
<script>

    const convertedQuantity = document.getElementById('convertedQuantity')
    const convertedType = document.getElementById('convertedType')   
    function runConverter () {
        convertedQuantity = Math.floor(Math.random()*10)
}
           
</script>
