<html lang="en">
<head>
    {{!-- stylesheet link, title --}}


</head>

<body>
    <header>
        
    </header>
    <div class="container">
        {{{body}}}
    </div>


    {{!-- scripts --}}

</body>

<h1>-.-</h1>
















</html>