<h1>Wello Horld</h1>

    <label for="depositQuantity">Find the Current Chaos Conversion for</label>
    <input type="number" id="depositQuantity" name="depositQuantity" pattern=".{1}" title="Enter A Positive Integer" min="1" step="1" required>
    <label for="deposit-type"> Unit(s) of</label>
    <input type="text" id="depositType" name="depositType" size="5" required>
    <button value="convert" onclick="runConverter()">CONVERT</button>
    <br><br>
    <label for="convertedQuantity" name="convertedQuantity">We Can Currently Offer You</label>
    <input class="convertedQuantity" id="convertedQuantity" type="text" size="2">
    <label for="convertedType">Units of</label>
    <input class="convertedType" id="convertedType" type="text">

    {{!change <button onclick=""> to <form onsubmit=""> once db is setup and change GET to POST}}

<script>

    const convertedQuantity = document.getElementById('convertedQuantity')
    const convertedType = document.getElementById('convertedType')   

    const singularSeedTypes = ["Pizza", "Rock", "Elephant", "Old Tissue", "Magnesium"]




    function runConverter () {
        convertedQuantity.value = Math.floor(Math.random()*42)
        convertedType.value = singularSeedTypes[Math.floor(Math.random() * singularSeedTypes.length)]
}
           
</script>
