<h1>Wello Horld</h1>

{{!-- <form action="/result" method="GET" id="converter" {{!onsubmit="runConverter()"}}>
    <label for="depositQuantity">Find the Current Chaos Conversion for</label>
    <input type="number" id="depositQuantity" name="depositQuantity" pattern=".{1}" title="Enter A Positive Integer" min="1" step="1" required>
    <label for="deposit-type"> Unit(s) of</label>
    <input type="text" id="depositType" name="depositType" size="5" required>
    <button type="submit" form="converter" value="submit" onclick="runConverter()">CONVERT</button>
    <br><br>
    

    {{!change <button onclick=""> to <form onsubmit=""> once db is setup and change GET to POST}}

</form> --}}
