<div class="container converter">
    <h1>Chaos Converter</h1>
    <br>
    <div class="converter-portion">
        <label for="depositQuantity">Find the Current Chaos Conversion for</label>
            <input class="" type="number" id="depositQuantity " name="depositQuantity" min="1" step="1">
        <label for="deposit-type"> Unit(s) of</label>
            <input type="text" id="depositType" name="depositType" size="20" >
    </div>
    <br>
    <div class="converter-portion">
        <button class="button" value="convert" id="convertButton" >CONVERT</button>
        <br><br>
        <label for="convertedQuantity" name="convertedQuantity">We Can Currently Offer You</label>
        <input class="" id="convertedQuantity" type="text" size="2">
        <label for="convertedType">Units of</label>
            <input class="convertedType" id="convertedType" type="text">
    </div>
    <br>
        <button class="button" value="reset" id="reset" style="display: none;">New Conversion</button>
</div>

    <script>

    const convertButton = document.getElementById('convertButton')

    const convertedQuantity = document.getElementById('convertedQuantity')
    const convertedType = document.getElementById('convertedType')

    const singularSeedTypes = ["Pizza", "Rock", "Elephant", "Old Tissue", "Magnesium"]

    function runConverter () {
        convertedQuantity.value = Math.floor(Math.random()*42)
        convertedType.value = singularSeedTypes[Math.floor(Math.random() * singularSeedTypes.length)]
}


    document.getElementById('convertButton').addEventListener("click", ()=>{
            runConverter();
            document.getElementById('convertButton').style.display = 'none';
            document.getElementById('reset').style.display = 'inline'
    })
    

</script>
