<h1>Wello Horld</h1>

{{!-- <form action="/converter" method="POST" id="converter"> --}}
    <label for="depositQuantity">Find the Current Chaos Conversion for</label>
    <input type="number" id="depositQuantity" name="depostQuantity" size="0.2" required="true" min="1" step="1" title="Positive Integers">
    <label for="deposit-type"> Unit(s) of</label>
    <input type="text" id="depositType" name="depositType" size="5" required="true">
    <button type="submit" form="converter" value="submit" onclick="runConverter()">CONVERT</button>
    <br><br>
    
    <label for="convertedQuantity">We Can Currently Offer You</label>
    <input class="convertedQuantity" id="convertedQuantity" type="text" size="2">
    <label for="convertedType">Units of</label>
    <input class="convertedType" id="convertedType" type="text">

{{!-- </form> --}}

<script>
    const convertedQuantity = document.getElementById('convertedQuantity')

    function runConverter () {
       convertedQuantity.value = Math.floor(Math.random()*42)
}

</script>