<label for="depositQuantity">Current Available Conversions for</label>
    <input type="number" id="depositQuantity2" name="depositQuantity2" pattern=".{1}" title="Enter A Positive Integer" min="1" step="1" required>
    <label for="deposit-type"> Unit(s) of</label>
    <input type="text" id="depositType" name="depositType" size="5" required>



<label for="convertedQuantity">We Can Currently Offer You</label>
    <input class="convertedQuantity" id="convertedQuantity" type="text" size="2">
    <label for="convertedType">Units of</label>
    <input class="convertedType" id="convertedType" type="text">